<p>
    JavaScript & JQuery lab works!
</p>

<ul>
    <li>
        <h4>Program to Check Odd Even Number</h4>

        <div>
            Enter Any Number:<input type="number" id="no_input" #noinput><br/>
            <button (click)="odd_even(noinput.value)">check number</button>
        </div>
    </li>

    <li>
        <h4>Find Sum of Two Numbers</h4>
        <div>
            Enter First Number:<input type="number" id="fno" #fno><br/> Enter Second Number:<input type="number" id="sno" #sno><br/>
            <button (click)="add(fno.value,sno.value)">add</button>
        </div>
    </li>

    <li>
        <h4>Factorial of any number</h4>
        <div>
            Enter Any Number:<input type="number" id="ftno" #ftno><br/>
            <button (click)="Factorial(ftno.value)">Factorial</button>
        </div>
    </li>
    <li>
        <h4>Prime Number Program</h4>
        <div>
            Enter Any Number:<input type="number" id="primeno" #primeno><br/>
            <button (click)="CheckPrimeNumber(primeno.value)">Find Prime Numbers</button>
        </div>
    </li>
    <li>
        <h4>Reverse a Number Program</h4>
        <div>
            Enter Any Number:<input type="number" id="revno" #revno><br/>
            <button (click)="Reverse(revno.value)">Check</button>
        </div>
    </li>

    <li>
        <h4>Armstrong Number Program</h4>
        <div>
            Enter Any Number:<input type="number" id="armstrno" #armstrno><br/>
            <button (click)="armstr(armstrno.value)">Check</button>
        </div>
    </li>
    <li>
        <h4>Palindrome Number Program</h4>
        <div>
            Enter Any Number:<input type="number" id="palinno" #palinno><br/>
            <button (click)="Palindrome(palinno.value)">Check</button>
        </div>
    </li>
    <li>
        <h4>Print Triangle of Stars Program</h4>
        <div>
            <button (click)="TriangleStr()">Click to Show output</button>
        </div>
    </li>
</ul>